body{
    width: 100%;
    font-family: 'Roboto', sans-serif;
}
.wrapper{
    width: 100%;
    background: url("../img/background.png") no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}

.container{
    width: 1030px;
}
.header{
    display: flex;
    justify-content: space-between;
}
.logo{
    margin-top: 51px;
}
.logo-links{
    display: flex;
}
.milan{
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    margin: 0;
}
.holidays{
    font-weight: 700;
    margin-top: -18px;
}
.logo-text {
    color: #FFFFFF;
    margin-bottom: 22px;
}
.contacts{
    display: flex;
    flex-direction: column;
    margin-top: 46px;
    text-align: end;
}
.img{
    margin-top: 51px;
    margin-bottom: 26px;
    margin-right: 8px;
}
.contact-link{
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}
.mail{
    margin-bottom: 19px;
}
.tel{
    margin-bottom: 17px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    grid-column-gap: 62px;
    padding: 0;
    margin-top: 0;
    margin-bottom: 50px;
}
.menu-text{
    margin-top: 20px;
    margin-bottom: 37px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
}
.menu-item{
    position: relative;
    overflow: hidden;
}
.menu-item:hover .hidden-block {
    bottom: 76px;
}
.menu-item:hover .menu-text{
    color: #F26522;
}
.img-orange{
    position: relative;
    display: none;
    top: 51px;
}
.logo-links:hover .img-orange{
    position: absolute;
    display: block;
}
.logo-links:hover .logo-link{
    color: #F26522;
}
.contact-link:hover{
    color: #F26522;
}

.footer{
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}
.hidden-block {
    position: absolute;
    display: flex;
    width: 300px;
    height: 55px;
    justify-content: space-between;
    background: #F26522;
    bottom: -60px;
}
.hidden-from{
    margin-top: 7px;
    margin-left: 16px;
    margin-bottom: 8px;
    font-weight: 400;
    font-size: 10px;
    line-height: 10px;
}
.hidden-price{
    margin: 0 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
}
.hidden-block p{
    color: #FFFFFF;
}
.details{
    margin-top: 29px;
    margin-right: 37px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
}
.details::after{
    content: "";
    display: inline-block;
    background-image: url(../img/vector.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    width: 5px;
    height: 10px;
    left: 16px;
}